
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>Ocouran</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Ocouran</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="{{ url_for('Oauth.clear_credentials') }}">Sign-out</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">WELCOME! {{message}}</h1>
        <p class="lead">Ocouran is your home for browsing, researching, and understanding the Blockchain project space.  Choose a project, help us tag it and build a knowledge base.</p>
        <p class="lead">
          <a href="/Organisation" class="btn btn-sm btn-secondary">Browse by Category</a>
          <a href="/Organisation" class="btn btn-sm btn-secondary">Pick a Project & Tag</a>
          <a href="{{ url_for('Oauth.tags') }}" class="btn btn-sm btn-secondary">Browse & Add Tags</a>
        </p>
          <a href="{{ url_for('Mvp.main') }}" class="btn btn-sm btn-secondary">Check out Blockchain's MVPs</a>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Site design by <a href="https://www.linkedin.com/in/sgallet/">Stephane.Gallet</a> using Bootstrap</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>

